<%-#-%>
  <% @lands.each do |land|%>
  <div class="card" style="width: 20rem;">
<img class="card-img-top" src="..." alt="Card image cap">
<div class="card-body">
  <h4></h4>
  <h4 class="card-title"><%= land.TenDuAn%></h4>
  <h5><%= land.DiaChi%></h5>>
  <p class="card-text"><%=truncate(land.QuyMo)%>.</p>
  <%= link_to "Chi tiet",land_path(land) ,class: "btn btn-primary"%>
</div>
</div>
  <%end %>
