<div class="center jumbotron">
  <h1>Chao mung den Webside dau gia</h1>

  <h2>
    Day la website ma ban co the mua mot manh dat phu hop voi minh
  </h2>

  <%= link_to "Sign up now!", '#', class: "btn btn-lg btn-primary" %>
</div>

